# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ['main']
  # pull_request:
  #   branches: ['main']
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }} # SSH_KEY is the private key of the ubuntu server, public key must go to authorized_keys file
          script: |
            cd /var/www/commitstreams-server
            export NVM_DIR=~/.nvm
            source ~/.nvm/nvm.sh
            
            # verifies the right Node.js version is in the environment
            node -v # should print `v20.12.2`
            
            # verifies the right NPM version is in the environment
            npm -v # should print `10.5.0`
            
            source ~/.bashrc
            git pull origin main
            npm install
            npm run stop:prod
            npm run start:prod

